body{background-color: whitesmoke;}

.main{
    background-color: white;
    position: absolute;
    width: 80%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: gray;
}
img {
    display: inline-block;
   
    margin: 30px 20px;
}
.text {
    margin-top: 20px;
    display: inline-block;
    margin-left: 100px auto;
    vertical-align: top;
}

h3 {
    color: rgb(0, 234, 255);
    margin-bottom: 0;
}
button{
    padding: 5px;
    display: inline-block;
    margin: 50px;
    vertical-align: top;
    position: absolute;
right: 0;
font-size: 16px;
}